amqp==5.0.2
asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.4
billiard==3.6.3.0
celery==5.0.3
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.4
Django==3.1.4
django-environ==0.4.5
djangorestframework==3.12.2
flake8==3.8.4
gevent==20.9.0
greenlet==0.4.17
gunicorn==20.0.4
idna==2.10
iniconfig==1.1.1
kombu==5.0.2
mccabe==0.6.1
mypy==0.790
mypy-extensions==0.4.3
packaging==20.7
pluggy==0.13.1
prompt-toolkit==3.0.8
psycopg2==2.8.6
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pyparsing==2.4.7
pytest==6.1.2
pytz==2020.4
requests==2.25.0
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.26.2
vine==5.0.0
wcwidth==0.2.5
zope.event==4.5.0
zope.interface==5.2.0
